.book-info-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial, sans-serif';
}

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-header {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.book-cover {
    width: 200px; /* 이미지 크기를 더 크게 설정 */
    height: auto;
    margin-right: 20px;
}

.book-meta {
    flex: 1;
}

.book-meta h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.book-meta p {
    margin: 5px 0;
}

.book-meta-details {
    display: flex;
    flex-wrap: wrap; /* 가로로 배치하고 줄이 넘칠 경우 다음 줄로 넘김 */
}

.book-meta-details p {
    flex: 1 1 50%; /* 각 항목이 절반 너비를 차지하도록 설정 */
    margin: 5px 0; /* 각 항목의 상하 여백 설정 */
}

.purchase-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.book-description {
    margin-top: 20px;
}

.book-description h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
