.App {
  text-align: center;
  height: 100vh; /* 전체 높이를 설정 */
  overflow-y: auto; /* 수직 스크롤을 가능하게 함 */
}
.Slider{
  text-align: center;
}
.main-more-link {
  display: flex;
  justify-content: flex-end;
  right: 0;
  color: blue;
  text-decoration: none;
  font-size: 14px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ListContainer {
  display: flex;
  justify-content: space-around; /* 변경: 리스트 사이의 간격을 균등하게 */
  gap: 20px; /* 리스트 사이의 간격 */
  width: 100%; /* 변경: 전체 너비를 차지 */
  max-width: 1200px; /* 변경: 최대 너비를 설정 */
  margin: 0 auto;
  align-items: baseline;
}

.noDot {
  list-style-type: none;
  text-align: left;
}

.removeDecoration {
  text-decoration: none; /* 링크의 밑줄을 제거 */
  color: black;
}
.slider-container {
  width: 80%;
  margin: 50px auto;
}

.second-slider-container {
  width: 50%;
  margin: 0 auto;
}

.notice-title {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  .ListContainer {
    flex-direction: column; /* 변경: 모바일에서는 세로로 배치 */
    gap: 10px; /* 리스트 사이의 간격 */
  }
}

@media (max-width: 768px) {
  .ListContainer {
    flex-direction: column; /* 변경: 작은 화면에서는 세로로 배치 */
    gap: 10px; /* 리스트 사이의 간격 */
  }
}
